@import '../../style/App.scss';

.team__info {
  max-width: 100%;
  height: 350 px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
  border: 4px solid $light-color;
  padding: 35px;
  margin-bottom: 30px;

  h4 {
    padding-bottom: 20px;
  }
  
  p {
    padding-bottom: 20px;
  }
  p:last-child {
    cursor: pointer;
    transition: 0.3s ease;
  }
  p:last-child:hover {
    color: $main-color;
  }

  
}

.link{
  text-decoration: none;
  color: black;

&:hover{
  color: $main-color;
}

}